// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@font-face{
    font-family: firstFont;
    src: url('../assets/fonts/roboto-bold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

.pic{
    width: 100px;
    height: 100px;
    margin-left: 103px;
    margin-top: 25px;
}

.name{
    font-family: firstFont;
    text-align: center;
    color: black;
}

.color{
    margin-top: 20px;
    background-color: #a9a9a9;//#cccccc;
    
}

.color2{
    background-color: #dcdcdc;
}

.others{
    font-family: firstFont;
    font-weight: normal;
    font-style: normal;
    font-size: 23px;
    padding-left: 40px;
    background-color: #dcdcdc;
}

.logout{
    font-family: firstFont;
    font-weight: normal;
    font-style: normal;
    font-size: 23px;
    padding-left: 40px;
    background-color: #dcdcdc;
}