//page-list {

//}
.icon{
    padding-right: 65px;
}

@font-face{
    font-family: firstFont;
    src: url('../assets/fonts/roboto-bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
}

