//page-profile {

//}
@font-face{
    font-family: firstFont;
    src: url('../assets/fonts/roboto-bold.ttf') format('ttf');
    font-style: normal;
}

@font-face{
    font-family: secondFont;
    src: url('../assets/fonts/Calibri.ttf') format('ttf');
    font-style: normal;
}

.bgp {
    background-image: url(../assets/imgs/ppbg.png)
}

.top1{
    margin-bottom: 10px;
}

.img4{
    margin-top: 10px;
    padding-left: 20px;
    float: left;
}

.save1{
    font-family: secondFont;
    font-size: 23px;
    padding-top: 10px;
    padding-right: 20px;
    float: right;
    color: blue;
}

.img5{
    width: 10px;
    height: 10px;
    padding-left: 36px;
}

.text4{
    font-family: firstFont;
    font-size: 22px;
    padding-left: 128px;
    color: black;
}

.top{
    font-family: firstFont;
    font-weight: normal;
    font-size: 14px;
    color: #696969;
}

.btm{
    font-family: firstFont;
    font-weight: normal;
    font-size: 17px;
    color: #696969;
}