//page-profile {

//}
@font-face{
    font-family: firstFont;
    src: url('../assets/fonts/roboto-bold.ttf') format('ttf');
    font-style: normal;
}

@font-face{
    font-family: secondFont;
    src: url('../assets/fonts/Calibri.ttf') format('ttf');
    font-style: normal;
}

/*.bgp {
    background-image: url(../assets/imgs/ppbg.png)
}*/

.top1{
    margin-bottom: 3%;
    //margin-bottom: 10px;

    img{
        width: 5vw;
        height: 3vh;
        margin-top: 3%;
        margin-left: 5%;
        float: left;
        //margin-top: 10px;
        //padding-left: 20px;
    }
}

.save1{
    font-family: secondFont;
    font-size: 1.4em;
    padding-top: 3%;
    padding-right: 5%;
    float: right;
    color: blue;
    /*font-size: 23px;
    padding-top: 10px;
    padding-right: 20px;*/
}

.img4{
    img{
        width: 40vw;
        height: 25vh;
        margin-left: 27%;
    }
    //padding-left: 36px;
}

.text4{
    font-family: firstFont;
    font-size: 1.3em;
    text-align: center;
    margin-left: 34%;
    color: black;
    //padding-left: 34%;
    //padding-left: 128px;
    //font-size: 22px;
}

/*.top{
    font-family: firstFont;
    font-weight: normal;
    font-size: 0.9em;
    color: #696969;
    //font-size: 14px;
}*/

/*.btm{
    font-family: firstFont;
    font-weight: normal;
    font-size: 1.2em;
    color: #696969;
    //font-size: 17px;
}*/