//page-reset-password {

//}
@font-face{
    font-family: firstFont;
    src: url('../assets/fonts/roboto-bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face{
    font-family: secondFont;
    src: url('../assets/fonts/Calibri.ttf') format('ttf');
    font-style: normal;
}

.top{
    font-family: firstFont;
    font-weight: normal;
    font-size: 14px;
    color: #696969;
}

.btm{
    font-family: firstFont;
    font-weight: normal;
    font-size: 17px;
    color: #696969;
}