//page-home {

//}
//.scroll-content {
//    padding-bottom: 0 !important;
// }
@font-face{
    font-family: firstFont;
    src: url('assets/fonts/roboto-bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
}

.icon{
    margin-right: 15%;
    //margin:0% auto;
}


.fullHeight{
    height:100vh;
    width:100vw;
}

.hometop{
    overflow: hidden;
    width:100%;
    height:43%;
    font-family: firstFont;
    font-weight: bold;
    font-size: 2.5em;
    //padding-top: 20px;
    //padding-bottom: 20px;
    background-color: #000080;
    color: white;

    div{
        //padding-top: 5%;
        padding-top: 2px;

        .current{
            font-weight: bold;
            font-size: 0.9em;
        }
    }

}

.homebtm{
    font-family: firstFont;
    font-weight: bold;
    font-size: 2.2em;
    margin-top: 0.5%;
    background-color: #1b1464;
    color: white;
    height:37%;
    width:100%;
    /*padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 2px;*/

    div{
        //padding-top: 5%;
        padding-top: 2px;
    }
}

.message{
    width:100%;
    height:19.3%;
    font-family: firstFont;
    font-weight: bold;
    font-size: 2.9em;
    margin-top: 0.5%;
    text-align: center;
    background-color: #32CD32;
    color: white;
    /*padding-left: 42.5%;
    padding-right: 50%;
    padding-top: 37px;
    padding-bottom: 33px;
    margin-top: 2px;*/
}
