<!--
  Generated template for the BeaconPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Beacon</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button ion-button (click)="detectBeacon()">Detect Beacon</button>
  <button ion-button (click)="stopDetectBeacon()">Stop detecting beacon</button>
  <h2>{{getBearing}}</h2>
  <h2>{{directionToTurn}}</h2>
  <ion-footer *ngIf="displayMessage" no-border>
    <h2 (tap)="readMessage()">{{currentMessage}}</h2>
    <h2 *ngIf="displayAccuracyMessage" (tap)="readAccuracyMessage()">{{accuracyMessage}}</h2>
  </ion-footer>
  <ion-footer *ngIf="displayDestination" no-border (tap)="readDestinationMessage()">  
    <h2>{{destinationMessage}}
        {{accuracyMessage}}
    </h2>
  </ion-footer>
</ion-content>
