.fullHeight{
    height:100vh;
    width:100vw;
}

.icon{
    padding-right: 65px;
}

@font-face{
    font-family: firstFont;
    src: url('assets/fonts/roboto-bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
}



.hmtop{
    background-color: #1b1464;
    height: 32%;
    overflow: hidden; 
    padding-top: 1%;


    img{
        width: 19vw;
        height: 10vh;
        margin-top: 14%;
        margin-left: 10%;
        margin-right: 4%;
        float: left;
        margin-bottom: 1%;
    }

    .current2{
        font-family: firstFont;
        font-size: 2em;
        color: yellow;
      }

    .text1{
        font-family: firstFont;
        font-weight: bold;
        font-size: 2.4em;
        text-align: left;
        color: white;

    }
}

.hmmiddle{
    margin-top: 2px;
    background-color: #191970;
    width: 100%;
    height: 30%;
    overflow: hidden;
    padding-top: 1%;

    img{
        width: 8vw;
        height: 15vh;
        margin-top: 8%;
        margin-left: 13%;
        margin-right: 4%;
        float: left;
    }

    .next{
        font-family: firstFont;
        font-size: 2em;
        color: yellow;
      }

    .text2{
        font-family: firstFont;
        font-weight: bold;
        font-size: 2.2em;
        text-align: left;
        color: white;
    }
}

.hmbtm{
    margin-top: 2px;
    background-color: #4682b4;
    height: 25%;
    overflow: hidden;
    padding-top: 1%;

    img{
        width: 23vw;
        margin-top: 8%;
        margin-left: 8%;
        float: left;
    }

    .next{
        font-family: firstFont;
        font-size: 2em;
        color: yellow;
      }

    .text3{
        font-family: firstFont;
        font-weight: bold;
        font-size: 2.1em;
        text-align: left;
        color: white;
    }
    
}

.msg{
    height: 12%;
    width: 100%;
    font-family: firstFont;
    font-weight: bold;
    font-size: 2.5em;
    text-align: center;
    padding-left: 130px;
    padding-right: 130px;
    //padding-top: 22px;
    //padding-bottom: 22px;
    margin-top: 2px;
    background-color: red;
    color: white;
}


/*<ion-content padding>
  <button ion-button (click)="detectBeacon()">Detect Beacon</button>
  <button ion-button (click)="stopDetectBeacon()">Stop detecting beacon</button>
  <ion-footer *ngIf="displayMessage" no-border>
    <h2 (tap)="readMessage()">{{currentMessage}}</h2>
    <h2 *ngIf="displayAccuracyMessage" (tap)="readAccuracyMessage()">{{accuracyMessage}}</h2>
  </ion-footer>
  <ion-footer *ngIf="displayDestination" no-border (tap)="readDestinationMessage()">  
    <h2>{{destinationMessage}}
        {{accuracyMessage}}
    </h2>
  </ion-footer>
</ion-content>*/