
.icon{
    padding-right: 65px;
}

@font-face{
    font-family: firstFont;
    src: url('../assets/fonts/roboto-bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
}
.img1{
    width: 112px;
    height: 112px;
    padding-top: 30px;
    margin-left: 25px;
    float: left;
}

.text1{
    font-family: firstFont;
    font-weight: bold;
    font-size: 290%;
    padding-right: 40px;
    padding-top: 25px;
    float: right;
    text-align: left;
    color: white;
}

.hmtop{
    padding-top: 10px;
    padding-bottom: 40px;
    background-color: #1b1464;
    width: 100%;
    height: 35%;
}

.current2{
    font-family: firstFont;
    font-size: 30px;
    padding-left: 10px;
    margin-right: 341px;
    color: yellow;
}

.img2{
    width: 60px;
    height: 100px;
    padding-top: 26px;
    margin-left: 40px;
    float: left;
}

.text2{
    font-family: firstFont;
    font-weight: bold;
    font-size: 24px;
    padding-right: 40px;
    float: right;
    text-align: left;
    color: white;
    width: 65%;
}

.hmmiddle{
    padding-bottom: 20px;
    padding-top: 10px;
    margin-top: 2px;
    background-color: #191970;
    width: 100%;
    height: 29%;
}

.next{
    font-family: firstFont;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 341px;
    color: yellow;
}

.img3{
    width: 90px;
    margin-top: 10px;
    margin-left: 20px;
    float: left;
}

.text3{
    font-family: firstFont;
    font-weight: bold;
    font-size: 24px;
    padding-top: 15px;
    padding-right: 138px;
    float: right;
    text-align: left;
    color: white;
}

.hmbtm{
    padding-top: 10px;
    margin-top: 2px;
    background-color: #4682b4;
    height: 23%;
}

.msg{
    font-family: firstFont;
    font-weight: bold;
    font-size: 33px;
    text-align: center;
    padding-bottom: 18px;
    padding-left: 180px;
    padding-right: 180px;
    padding-top: 21px;
    margin-top: 2px;
    background-color: red;
    color: white;
}

/*<ion-content padding>
  <button ion-button (click)="detectBeacon()">Detect Beacon</button>
  <button ion-button (click)="stopDetectBeacon()">Stop detecting beacon</button>
  <ion-footer *ngIf="displayMessage" no-border>
    <h2 (tap)="readMessage()">{{currentMessage}}</h2>
    <h2 *ngIf="displayAccuracyMessage" (tap)="readAccuracyMessage()">{{accuracyMessage}}</h2>
  </ion-footer>
  <ion-footer *ngIf="displayDestination" no-border (tap)="readDestinationMessage()">  
    <h2>{{destinationMessage}}
        {{accuracyMessage}}
    </h2>
  </ion-footer>
</ion-content>*/