.fullHeight{
    height:100vh;
    width:100vw;
}

.icon{
    //padding-right: 35%;
     margin-right: 2%;
	//display: block
}

@font-face{
    font-family: firstFont;
    src: url('assets/fonts/roboto-bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
}

.hmtop{
    background-color: #000080;
    height: 35%;
    overflow: hidden; 
    padding-top: 1%;


    img{
        width: 27vw;
        height: 14vh;
        margin-top: 7%;
        margin-left: 6%;
        float: left;
    }

    .current2{
        font-family: firstFont;
        font-size: 2em;
        margin-right: 70%;
        color: yellow;
      }

    .text1{
        //width: 60%;
        font-family: firstFont;
        font-weight: bold;
        padding-right: 2%;
        //font-size: 2.9em;
        font-size: 1.6em;
        //font-size: 2.4em;
        //float: right;
        text-align: left;
        color: white;

    }

    .details{
        top: 31%;
        left: 73%;
        font-size: 1.1em;
        position: absolute;
        background-color: #000080;
        color: white;
    }
}
.hmmiddle{
    width: 100%;
    height: 29%;
    overflow: hidden;
    padding-top: 1%;
    margin-top: 0.5%;
    background-color: #1b1464;
    //margin-top: 2px;

    img{
        width: 19vw;
        height: 12vh;
        margin-top: 5%;
        margin-left: 10%;
        margin-right: 4%;
        float: left;
    }

    .next{
        font-family: firstFont;
        font-size: 1.8em;
        margin-right: 78%;
        color: yellow;
      }

    .text2{
        width: 58%;
        font-family: firstFont;
        font-weight: bold;
        font-size: 1.9em;
        padding-right: 2%;
        //float: right;
        text-align: left;
        color: white;
    }

    .details2{
        top: 60%;
        left: 73%;
        font-size: 1.1em;
        position: absolute;
        background-color: #1b1464;
        color: white;
    }
}

.hmbtm{
    //margin-top: 2px;
    height: 23%;
    overflow: hidden;
    padding-top: 1%;
    margin-top: 0.5%;
    background-color: #191970;//#4169E1;//#4682b4;191970

    img{
        width: 23vw;
        margin-top: 3%;
        margin-left: 6%;
        float: left;
    }

    .destination{
        font-family: firstFont;
        font-size: 1.8em;
        margin-right: 58%;
        color: yellow;
      }

    .text3{
        width: 58%;
        font-family: firstFont;
        font-weight: bold;
        font-size: 1.6em;
        padding-top: 3%;
        padding-right: 2%;
        //float: right;
        text-align: left;
        color: white;
    }

    .details3{
        top: 83%;
        left: 73%;
        font-size: 1.1em;
        position: absolute;
        background-color: #191970;
        color: white;
    }
}

.msg{
    width: 100%;
    height: 12%;
    font-family: firstFont;
    font-weight: bold;
    font-size: 2.4em;
    margin-top: 0.5%;
    text-align: center;
    background-color: red;
    color: white;
    /*padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 130px;
    padding-right: 130px;
    margin-top: 2px;*/
}


/*<ion-content padding>
  <button ion-button (click)="detectBeacon()">Detect Beacon</button>
  <button ion-button (click)="stopDetectBeacon()">Stop detecting beacon</button>
  <ion-footer *ngIf="displayMessage" no-border>
    <h2 (tap)="readMessage()">{{currentMessage}}</h2>
    <h2 *ngIf="displayAccuracyMessage" (tap)="readAccuracyMessage()">{{accuracyMessage}}</h2>
  </ion-footer>
  <ion-footer *ngIf="displayDestination" no-border (tap)="readDestinationMessage()">  
    <h2>{{destinationMessage}}
        {{accuracyMessage}}
    </h2>
  </ion-footer>
</ion-content>*/